.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  margin-bottom: 15px;
}

.message.user {
  justify-content: flex-end;
}

.message.assistant {
  justify-content: flex-start;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 0 10px;
  color: white;
}

.content {
  padding: 10px;
  border-radius: 8px;
  white-space: pre-wrap;
  overflow: hidden;
}

.message.user .content {
  background-color: #2d65f7;
  color: white;
  border-radius: 12px;
}

.message.assistant .content {
  background-color: #e9ecef;
  color: #333;
  border-radius: 12px;
  white-space: pre-wrap;
  overflow: hidden;
  width: 100%;
}

/* 新增打字动画 */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* 新增光标闪烁动画 */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.typing-indicator {
  display: inline-block;
  position: relative;
  font-family: monospace;
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
  border-right: 2px solid #333;
}

.user-content {
  max-width: calc(100% - 60px);
}
.message.user {
  position: relative;
}
.user-action {
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: -30px;
}

.message.user:not(.edit-message):hover .user-action {
  opacity: 1;
}

.action-icon {
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border-radius: 6px;
  padding: 4px;
}

.edit-message {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}
.edit-message button {
  height: 34px;
  width: 56px;
  border-radius: 14px;
  font-size: 14px;
  box-shadow: none;
}

button,
button:hover,
button:focus,
button:focus-visible {
  border: none !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.button-cancel {
  background: #ededed;
}
.button-save {
  background: #4d6bfe;
  color: #fff;
}

.edit-message textarea {
  border: 2px solid #4d6bfe;
}
